*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
}
a{
    text-decoration: none;
}

.navegador{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    font-family: 'Bebas Neue', sans-serif;
}  
.navegador img{
    margin: 10px;
    height: 60px;
}
.navegador i{
    display: none;
}
.navegador ul{
    list-style: none;
    display: flex;
    justify-content: end;
    margin-bottom: 0;
}
.navegador ul li a{
    display: block;
    color: white;
    padding: 10px 20px;
    margin: 8px ;
    border-radius: 11px ;
}
.navegador ul li a:hover{
    transition: all 1.5s;
    background-color: rgb(105, 16, 156);
}


.carousel-inner {
    width: 100%;
    height: 80vh;
}

.carousel-inner img {
    height: 80vh;
}

.carousel-indicators [data-bs-target] { 
    margin-right: 5px;
    margin-left: 5px;
    
}


.inicial{
    padding-left: 37px;
  padding-right: 37px;
}
.h1-inicio{
    display: flex;
    place-content: center;
}
.h1-inicio h1{
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    padding-top: 40px;
}
.contenedor-articulos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productos{
    display: inline-block;
    margin: 70px;
}
.productos p{
    margin: 10px;
}
.productos img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: 2.5s;
}
.productos img:hover{
    transform: rotateY(360deg);
}
.contenedor-productos{
    width: 270px;
    border: 2px solid black;
    border-radius: 2px;
    gap: 5px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}
.agrega-carrito{
    background-color: white;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px 10px;
    display: flex;
    padding: 15px;
    justify-content: center;
}
.agrega-carrito:hover{
    transition: all 2s;
    opacity: 30%;
}
.ver-producto{
    display: flex;
    place-content: center;
}
.ver-mas-boton{
    background-color: white;
    cursor: pointer;
    margin: 15px;
    padding: 15px;
}
.ver-mas-boton:hover{
    transition: all 2s;
    opacity: 30%;
}
.h2-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h2-inicio h2{
    text-align: center;
    font-size: 1.5rem;
}
.h2-inicio input{
    height: 40px;
    width: 50%;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
}
.h2-inicio button{  
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding: 10px 45px;
}



.contenedor-gnral-prod{
    display: flex;
    margin-left: 100px;
}
.contenedor-filtros{
    width: 12%;
    margin: 50px;
    font-family: 'Bebas Neue', sans-serif;
}
.contenedor-filtros h3, h2{
    margin-top: 10px;
}
.contenedor-filtros h2{
    color: rgb(0, 0, 0);
}
.talles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start
}
.colores{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start
}
.caja-precio{
    width: 85px;
}
.contenedor-productos-productos{
    margin-left: 50px;
}
.ver-producto-producto{
    display: flex;
    justify-content: center;
}
.ver-mas-productos{
    width: 20%;
    background-color: white;
    cursor: pointer;
    margin: 15px;
    padding: 20px;
    margin-right: 280px;
}
.ver-mas-productos:hover{
    transition: all 2s;
    opacity: 30%;
}
.h2-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 260px;
}
.h2-producto input{
    height: 40px;
    width: 50%;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
}
.h2-producto button{
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding: 10px 45px;
}


.contactos{
    color: black;
    line-height: 1.6;
    padding: 0 1.5em;
    margin: 30px 0px;
    font-family: 'Bebas Neue', sans-serif;
}
.formulario{
    box-shadow: 0 0 20px 0 rgba(8, 8, 8, 0.3);
}
.formulario > *{
    padding: 1em;
    color: white;
    word-wrap: break-word;
}
.formulario-contacto{
    background: #272323;
}
.formulario-contacto form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.formulario-contacto form p{
    margin: 0;
    padding: 1em;
}
.formulario-contacto form .bloque{
    grid-column: 1/3;
}
.formulario-contacto form button,.formulario-contacto form input,.formulario-contacto form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: #fff;
    outline: 0;
}
.formulario-contacto form button{
    background: rgb(0, 0, 0);
    border: 0;
    padding: 1em; 
}
.formulario-contacto form button:hover,.formulario-contacto form button:focus{
    background: #3b3939;
    color: black;
    cursor: pointer;
    transition: 1s ease-out;
    outline: 0;
}
.info-contacto{
    background: black;
    order: -1;
}
.info-contacto ul{
    text-align: center;
    margin: 0 0 1rem 0;
}
.info-contacto ul{
    list-style: none;
    padding: 0;
}
.info-contacto ul li{
    padding: .3em;
}


.nosotros-1{
    margin-top: 60px;
    margin-left: 10%;
    margin-bottom: 10%;
    width: 80%;
    display: flex;
    text-align: center;
}
.nosotros-1 p{
    margin-left: 10px;
    font-family: 'Bebas Neue', sans-serif;
}
.img-nosotros{
    height: 550px;
    width: 45%;
    float: left;
}




.navegacion,.ubicacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}
.navegacion li{
    margin: 18px;
}
.navegacion ul{
    list-style-type: none;
}
.navegacion a{
    color: white
}
.navegacion h2{
    font-size: 1.5rem;
}
.redes-sociales{
    margin: 20px;
    padding: 70px;
    text-align: center;
}
.redes-sociales h2{
    font-size: 1.5rem
}
.redes-sociales i{
    font-size: 45px;
    margin: 10px;
    justify-items: center;
}
.ubicacion iframe{
    width: 100%;
    height: 200px;
}
.ubicacion h2{
    text-align: center;
    font-size: 1.5rem;
}
.ubicacion p{
    text-align: center;
}

.piePagina{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    column-gap: 15px;
    align-items: center;
    justify-items: center;
    font-size: 1rem;
    font-family: 'Bebas Neue', sans-serif;
}

@media(max-width:1119px){
    .piePagina{
        grid-template-columns: 1fr 1fr;
    }
    .redes-sociales{
        grid-column: 1/3;
    }
}
@media(max-width:768px){
    .piePagina{
        grid-template-columns: 1fr;
    }
    .redes-sociales{
        grid-column: auto;
    }
    .h2-inicio{
        justify-content: center;
    }
    .img-nosotros{
        height: 350px;
    }
}
@media(max-width:950px){
    .navegador i{
        display: block;
        font-size: 25px;
        margin: 10px;
        order: -1;
    }
    .navegador i:hover + ul{
        left: 0px;
    }
    .navegador ul{
        position: fixed;
        top: 0;
        left: -700px;
        background-color: black;
        width: 70vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 100px;
        transition: 0.5s;
        z-index: 10000;
    }
    .navegador ul:hover{
        left: 0px;
    }
    .navegador ul li a{
        color: white;
        margin-top: 50px;
    }
    .carousel-inner {
        height: 60vh;
    }
    .carousel-inner img {
        height: 60vh;
    }
}
@media(max-width:594px){
    .h1-inicio h1{
        text-align: center;
    }
    .img-nosotros{
        height: 250px;
    }
    .carousel-inner {
        height: 50vh;
    }
    .carousel-inner img {
        height: 50vh;
    }
}
@media(max-width:1400px){
    .nosotros-1{
        flex-direction: column;
    }
    .img-nosotros{
        width: 100%;
        margin-bottom: 40px;
    }
}
@media(max-width:500px){
    .carousel-inner {
        height: 35vh;
    }
    .carousel-inner img {
        height: 35vh;
    }
}
@media(min-width: 700px){
    .contactos{
        padding: 0 4em;
        margin: 50px 0px
    }
    .formulario{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .formulario > * {
        padding: 2em;
    }
    .info-contacto ul{
        text-align: left;
    }
}