.carousel-inner {
    width: 100%;
    height: 80vh;

    img {
        height: 80vh;
    }

    .carousel-indicators [data-bs-target] { 
        margin-right: 5px;
        margin-left: 5px;
        
    }
  
}