.nosotros-1{
    margin-top: 60px;
    margin-left: 10%;
    margin-bottom: 10%;
    width: 80%;
    display: flex;
    text-align: center;

    p{
       margin-left: 10px;
       font-family: 'Bebas Neue', sans-serif;
   }

   
}

.img-nosotros{
    height: 550px;
    width: 45%;
    float: left;
    border-radius: 5px;
}