.categorias{
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
    font-family: $fuente;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto; 
    margin-top: 30px;

    .tarjeta{
        width: 300px;
        height: 300px;
        margin: 17px;
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
            img {
            width: 100%;
            height: 80%;
            border-radius: 15px;
            cursor: pointer;
            transition: 1.5s;
            &:hover{
        transform: translate(10px,10px);
    }
           }
         h2 {
        font-family: $fuente;
        cursor: pointer;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    }
}
}

.contenedor-productos-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .productos{
        @extend %productos;
     }
    .contenedor-productos{
        @extend %contenedor-productos;
    }
    .agrega-carrito{
        @extend %agrega-carrito;
    }
}
.h2-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    input{
        height: 40px;
        width: 50%;
        border-radius: 10px;
        margin: 15px;
        text-align: center;
    }
    
    button{
        background-color: white;
        cursor: pointer;
        margin: 20px;
        padding: 10px 45px;
    }
}


