.ver-producto{
    display: flex;
    place-content: center;

    .ver-mas-boton{
        background-color: white;
        cursor: pointer;
        margin: 15px;
        padding: 15px;
    
        
    &:hover{
        transition: all 2s;
        opacity: 30%;
    }
    
}


}